a {
    text-decoration: none;
    color: rgb(68, 157, 230);
}
.landing-top {
  height: 100vh;
  width: 100vw;
  background: url("../Assets/landing_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.landing-nav {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    color: rgb(68, 157, 212);
}
.logo h2 {
  font-size: 44px;
  -webkit-text-stroke: 1px rgb(68, 157, 212);
  color: transparent;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playpen Sans", cursive;
}
.land-nav-left {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.land-nav-left ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.land-nav-left ul li {
    position: relative;
    color: rgb(68, 157, 230);
    transition: all 0.3s;
}
.land-nav-left ul li::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: rgb(68, 157, 230);
    border-radius: 10px;
    transition: all 0.3s;
    transform: translateX(-50%);
}
.land-nav-left ul li:hover::after {
    width: 100%;
} 

.land-nav-right a{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(68, 157, 230);
    color: #fff;
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.land-nav-right a:active {
    background-color: rgb(13, 57, 91);
}
.land-nav-left-items {
    color: rgb(68, 157, 230);
    cursor: pointer;
    font-size: 20px;
}
.text-img-container{
    min-width: 600px;
    width: 50%;
    padding: 0 50px;
    display: flex ;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}
.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow-wrap: break-word;
}
.logo-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-img img {
    mix-blend-mode: darken;
    width: 200px;
}
.tagline {
    margin-top: -30px;
}
.tagline h1 {
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    background: url('../Assets/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.desc-text p {
    font-size: 18px;
    color: #1b1b1b;
}
.button {
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}


@media (max-width: 768px) {
    .land-nav-left-items{
        display: none;
    }
    .text-img-container {
        min-width: 0;
        width: 90%;
        padding: 0 15px;
    }
    .text-container {
        width: 100%;
    }
    .tagline h1 {
        font-size: 70px;
    }
    .logo-img img {
        width: 150px;
    }
    .button {
        display: flex;
    }
}
@media (max-width: 480px) {
    .landing-nav {
        padding: 10px;
    }
    .tagline h1 {
        font-size: 15vw;
    }
    .text-img-container {
        padding: 10px 20px;
    }
    .land-nav-right a {
        padding: 10px;
    }
    .text-container {
        width: 100%;
    }
    .logo-img {
        width: 100%;
    }
    .button {
        display: flex;
    }
}
