.canvas-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-to-canvas {
  color: rgb(41, 40, 40);
  position: absolute;
  top: 10px;
  left: 4%;
  cursor: pointer;
}

.canvas-title-area {
  margin-top: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 5px;
  padding: 7px 10px;
}

.canvas-title-area input {
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  color: #424347;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 1px;
}

.canvas-editor-area {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  margin: 10px;
  padding: 2px;
  border: 2px solid rgb(137, 133, 133);
  border-radius: 10px;
}

.canvas-editor-header {
  list-style: none;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.show-color-picker {
  display: flex;
  margin-bottom: 20px;
}

.canvas-editor-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.canvas-editor-header ul li:hover {
  transform: scale(1.2);
}

.canvas-clear-canvas,
.canvas-undo-canvas {
  margin: 2px;
  padding: 1px;
  border: 1px solid rgb(137, 133, 133);
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;
  font-size: 18px;
}

.canvas-clear-canvas:hover,
.canvas-undo-canvas:hover,
.canvas-stroke-width:hover {
  background-color: #d2cece;
}

.canvas-stroke-width {
  display: block;
  font-size: 18px;
  margin: 2px;
  padding: 1px;
  border: 1px solid rgb(137, 133, 133);
  border-radius: 5px;
  text-align: center;
}

.canvas-stroke-width select {
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}