.canvas-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-title-area{
  border: 10px solid red;
  border-radius: 25px;
  padding: 10px;
}

.canvas-title-area textarea{
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  color: #424347;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  letter-spacing: 1px;
}

.canvas-editor-area {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding: 2px;
    border: 10px red solid;
    border-radius: 10px;
  }
  
  .canvas-editor-header{
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .show-color-picker{
    display: flex;
    margin-bottom: 20px;
  }
  
  .canvas-editor-header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
  }
  
  .canvas-editor-header ul li:hover{
    transform: scale(1.2);
  }

  .canvas-clear-canvas, .canvas-undo-canvas{
    margin: 2px;
    padding: 1px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
  }

  .canvas-clear-canvas:hover, .canvas-undo-canvas:hover,.canvas-stroke-width:hover{
    background-color: #4b4a4a;
  }

  .canvas-stroke-width{
    display: block;
    font-size: 18px;
    margin: 2px;
    padding: 1px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
  }

  .canvas-stroke-width select{
    font-size: 18px;
    transition: all 0.3s;
  }

  .canvas-stroke-width select:hover{
    transform: scale(1.2);
    background-color: rgb(99, 209, 209);
=======
.canvas-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-title-area{
  border: 10px solid red;
  border-radius: 25px;
  padding: 10px;
}

.canvas-title-area textarea{
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  color: #424347;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  letter-spacing: 1px;
}

.canvas-editor-area {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding: 2px;
    border: 10px red solid;
    border-radius: 10px;
  }
  
  .canvas-editor-header{
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .show-color-picker{
    display: flex;
    margin-bottom: 20px;
  }
  
  .canvas-editor-header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
  }
  
  .canvas-editor-header ul li:hover{
    transform: scale(1.2);
  }

  .canvas-clear-canvas, .canvas-undo-canvas{
    margin: 2px;
    padding: 1px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
  }

  .canvas-clear-canvas:hover, .canvas-undo-canvas:hover,.canvas-stroke-width:hover{
    background-color: #4b4a4a;
  }

  .canvas-stroke-width{
    display: block;
    font-size: 18px;
    margin: 2px;
    padding: 1px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
  }

  .canvas-stroke-width select{
    font-size: 18px;
    transition: all 0.3s;
  }

  .canvas-stroke-width select:hover{
    transform: scale(1.2);
    background-color: rgb(99, 209, 209);
  }