.canvas-generator-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.canvas-create-button {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    color: #1b1b1b;
    align-self: center;
}

a {
    color: #fff;
}

.canvas-show-canvas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.canvas-initial-bg-txt {
    color: #5f6368;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.canvas-initial-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.add-note-bar-icons-color-chooser ul {
    z-index: 2;
    display: flex;
    list-style: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: #f6fff8;
    justify-content: center;
    gap: 5px;
    border: 1.4px solid black;
    border-radius: 10px;
}

.add-note-bar-icons-color-chooser-white {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-white:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-red {
    border: 2px solid white;
    background-color: #faafa8;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-red:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-yellow {
    border: 2px solid white;
    background-color: #fff8b8;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-yellow:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-blue {
    border: 2px solid white;
    background-color: #aeccdc;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-blue:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-cyan {
    border: 2px solid white;
    background-color: #efeff1;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-cyan:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-custom {
    border: 2px solid white;
    background-color: #b4ddd3;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-canvas-bar-icons-color-chooser-custom:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-canvas-bar-icons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 34px;
    font-size: 20px;
    justify-content: space-between;
}

.add-canvas-bar-icons ul li {
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-canvas-bar-icons ul li:hover {
    transform: scale(1.2);
}

.add-canvas-bar-icons ul:hover .add-canvas-bar-icons ul li {
    opacity: 1;
}