.carousel-image {
  max-height: 600px;
  margin: auto; /* Center the image horizontally */
}

.about-us-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background-color: rgb(164, 223, 222); */
}