.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(100deg,rgb(26, 88, 195),rgb(64, 134, 238));
    padding: 10px 50px;
}
.home-nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.home-logo {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #fff;
}
.home-logo img{
    width: 50px;
    mix-blend-mode: darken;
}
.home-logo h2 {
font-size: 30px;
-webkit-text-stroke: 1px #fff;
color: transparent;
font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif;
font-family: "Playpen Sans", cursive;
}
.home-nav-left-items ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.home-nav-left-items a {
    color: #fff;
}
.home-nav-left-items ul li{
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    position: relative;
    cursor: pointer;
}
.home-nav-left-items ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(213, 214, 224);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    transition: all 0.3s;
}
.home-nav-left-items ul li.clicked::after {
    width: 100%;
}
.home-nav-right {
    display: flex;
    gap: 30px;
    color: rgb(232, 229, 229);
}
.msg-icon {
    margin-top: 2px;
    transition: all 0.3s;
}

.msg-icon,.user-icon,.logout-icon {
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}
.msg-icon:hover {
    color: #fff;
}
.user-icon:hover {
    color: #fff;
}
.logout-icon:hover {
    color: #fff;
}
.msg-icon:hover .msg-icon-tooltip {
    display: block;
}
.msg-icon-tooltip {
    display: none;
    position: absolute;
    top: 130%;
    left: -20px;
    padding: 5px;
    background-color: rgb(104, 101, 101);
    border-radius: 3px;
    z-index: 99;
}
.user-icon:hover .user-icon-tooltip {
    display: block;
}
.user-icon-tooltip {
    display: none;
    position: absolute;
    top: 130%;
    left: -8px;
    padding: 5px;
    background-color: rgb(104, 101, 101);
    border-radius: 3px;
    z-index: 99;
}
.logout-icon:hover .logout-icon-tooltip {
    display: block;
}
.logout-icon-tooltip {
    display: none;
    position: absolute;
    top: 130%;
    left: -8px;
    padding: 5px;
    background-color: rgb(104, 101, 101);
    border-radius: 3px;
}
.msg-count {
    position: absolute;
    text-align: center;
    top: -10px;
    left: 90%;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 20px;
}
.user-profile {
    position: absolute;
    right: 30px;
    top: 100%;
    height: 260px;
    width: 350px;
    border-radius: 10px;
    background: rgb(228 228 228);
    z-index: 99;
    color: #000;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: auto;
    padding: 10px;
}
.user-profile-cross {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #1b1b1b;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.user-profile-cross:hover {
    background: #bdbaba;
}
.user-profile-top {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.user-avatar-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-avatar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 26px;
    font-size: 24px;
    border-radius: 50%;
    background: orangered;
    color: #fff;
}
.user-greet h1{
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}
.user-sign-out {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background: #d8d7d7;
    cursor: pointer;
}
.user-sign-out:hover {
    background: #c2c1c1;
}
.avatar-edit-icon {
    position: absolute;
    top:70%;
    right: 0;
    transition: all 0.3s;
}
.avatar-edit-icon i {
    cursor: pointer;
    font-size: 18px;
    color: #4f4f4f;
}
.avatar-edit-icon:hover i{
    color: #000;
}
.messages {
    position: absolute;
    top: 100%;
    right: 100px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    z-index: 99;
    background: #fff;
}
.msg-top {
    display: flex;
    justify-content: space-between;
}
.msg-top h3 {
    font-size: 14px;
    color: #686274;
}
.msg-top p {
    color: #A5A1Ac;
    font-size: 12px;
    cursor: pointer;
}
.msg-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mid-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.menu-btn {
    display: none;
    cursor: pointer;
}
.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 99;
    transition: all 0.3s;
}
.menu li {
    width: 100%;
    height: 40px;
    background: rgb(26, 88, 232);
    border-bottom: 1px solid white;
    color: #fff;
    display: flex;
    align-items: center;justify-content: center;
    cursor: pointer;
}
.menu li:hover{
    background: rgb(49, 103, 230);
}
.menu-open {
    height: 100%;
    overflow: visible;
}

@media (max-width: 760px) {
    .menu-btn {
        display: block;
    }
    .home-nav-left-items {
        display: none;
    }
    .home-logo {
        display: none;
    }
    .navbar {
        padding: 10px 20px;
    }
    .mid-logo {
        display: block;
    }
    .menu {
        display: block;
    }
}