.signupPage {
    width: 100vw;
    height: 100vh;
    background: url('../../Components/Assets/sigup_signin_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signup-container img{
    width: 100px;
    mix-blend-mode: darken;
    align-self: center;
}