.note {
    position: relative;
    width: 220px;
    /* background: linear-gradient(100deg,rgb(30, 108, 244),rgb(64, 134, 238)); */
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.note:hover{
    transform: scale(1.2);
}

.note h2 {
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.note-inner-text {
    overflow-wrap: break-word;
}

.note p {
    font-size: 14px;
    padding: 5px;
    color: #000;
}

.note-handle {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 34px;
    font-size: 20px;
    justify-content: space-between;
}

.note-tick {
    position: absolute;
    top: -10px;
    left: -10px;
    color: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.note-handle li {
    color: #000;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.note-handle li:hover {
    transform: scale(1.2);
}

.note:hover .note-handle li,
.note:hover .note-tick {
    opacity: 1;
}

.add-note-bar-icons-color-chooser ul {
    z-index: 3;
    display: flex;
    list-style: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: #f6fff8;
    justify-content: center;
    gap: 5px;
    border: 1.4px solid black;
    border-radius: 10px;
}

.add-note-bar-icons-color-chooser-white {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-white:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-red {
    border: 2px solid white;
    background-color: #faafa8;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-red:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-yellow {
    border: 2px solid white;
    background-color: #fff8b8;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-yellow:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-blue {
    border: 2px solid white;
    background-color: #aeccdc;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-blue:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-cyan {
    border: 2px solid white;
    background-color: #efeff1;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-cyan:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}

.add-note-bar-icons-color-chooser-custom {
    border: 2px solid white;
    background-color: #b4ddd3;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.add-note-bar-icons-color-chooser-custom:hover {
    /* border-color: #a142f4; */
    border-color: black;
    transform: scale(1.2);
}
