.task {
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    border: 1px solid transparent;
}
.task:hover {
border: 1px solid rgb(153, 153, 245);
}
.task .tick:hover svg {
display: inline;
}
.task-title p {
font-size: 16px;
color: #34313a;
}
.task-notes p {
font-size: 14px;
color: #686274;
}
.task-tick {
width: 40px;
background: #ffbe5d;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
}
.tick {
width: 28px;
height: 28px;
background: #ffffff80;
border-radius: 2px;
text-align: center;
}
.tick svg {
width: 16px;
height: 16px;
color: #34313a;
fill: currentColor;
margin-top: 5px;
display: none;
}
.tick:hover {
background: #f9f6f6eb;
}
.task-area {
width: 100%;
padding: 7px;
display: flex;
flex-direction: column;
gap: 5px;
}
.due-date-and-tags {
width: 100%;
display: flex;
justify-content: space-between;
}
.due-date {
display: flex;
align-items: center;
gap: 3px;
}
.due-date svg {
width: 14px;
height: 14px;
color: #686274;
fill: currentColor;
}
.due-date p {
color: #686274;
font-size: 12px;
}

.tags-icon svg {
width: 14px;
height: 14px;
color: #686274;
fill: currentColor;
}
.tags-icon svg:hover {
    color: #8a8398;
}
.tags {
    opacity: 0;
    position: absolute;
    width: fit-content;
    max-width: 200px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(82, 78, 91);
    top: 100%;
    right: 5px;
    z-index: 99;
    display: flex;
    gap: 5px;
    z-index: -1;
    transition: opacity 0.3s ease-out;
}
.tags-hovered {
    opacity: 1;
    z-index: 1;
}

.tags p {
    color: #fff;
    font-size: 12px;
    height: fit-content;
}
.tags-list {
    display: flex;
    gap: 5px;
    color: #9f9d9d;
    flex-wrap: wrap;
}
.tag-name {
    font-size: 12px;
    border-radius: 10px;
    padding: 3px 5px;
    background: rgb(104, 98, 116);
}
.grab {
position: absolute;
bottom: 0;
left: 0;
height: 10px;
width: 100%;
cursor: grab;
}
.completed .task-tick {
background: #878190;
}
.completed .p {
color: #34313a;
}
.completed .tick svg {
display: inline;
}

.checklist-toggle {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 10px;
    width: fit-content;
    padding: 2px 5px;
    background-color: #EDECEE;
    color: #878190;
}
.checklist-count {
    margin-top: -2px;
}
.checklist {
list-style-type: none;
padding: 0;
}

.checklist li {
display: flex;
align-items: center;
margin-bottom: 5px;
}

.checklist label {
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}

.checklist input {
appearance: none;
width: 16px;
height: 16px;
border: 1px solid #686274;
border-radius: 3px;
cursor: pointer;
}

.checklist input:checked {
background-color: #4caf50;
border: 1px solid #4caf50;
}

.checklist span {
font-size: 14px;
color: #686274;
text-decoration: none;
}

.checklist span.checked {
text-decoration: line-through;
color: #4caf50;
}
.task-delete-icon {
    color: #686274;
    position: absolute;
    top: 5px;
    right: 5px;  
    opacity: 0;
    transition: all 0.3s; 
}
.task:hover .task-delete-icon {
    opacity: 1;
}