.task {
    height: 60px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    display: flex;
    border: 1px solid transparent;
    overflow: hidden;
}
.task:hover {
    border: 1px solid rgb(153, 153, 245);
}
.task .tick:hover svg{
    display: inline;
}
.task p{
    font-size: 16px;
    color: #34313A;
}
.task-tick {
    width: 40px;
    height: 60px;
    background: #FFBE5D;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tick {
    width: 28px;
    height: 28px;
    background: #FFFFFF80;
    border-radius: 2px;
    text-align: center;
}
.tick svg {
    width: 16px;
    height: 16px;
    color: #34313a;
    fill: currentColor;
    margin-top: 5px;
    display: none;
}
.tick:hover {
    background: #f9f6f6eb;
}
.task-clickable-area {
    width: 100%;
    padding: 7px;
    overflow-wrap: break-word;
    overflow-y: hidden;
}
.grab {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    cursor: grab;
}
.completed .task-tick{
    background: #878190;
}
.completed .p {
    color: #34313A;
}
.completed .tick svg {
    display: inline;
}